{##################################################################################}
{##                                                                              ##}
{## register.html.twig                            (c) Wolfram Plettscher 02/2016 ##}
{##                                                                              ##}
{##################################################################################}
{% extends 'skeleton.html.twig' %}

{##################################################################################}
{#                                                                                #}
{# header                                                                         #}
{#                                                                                #}
{##################################################################################}
{% block header %}

{% endblock %} {# of header #}

{##################################################################################}
{#                                                                                #}
{# cssmenu                                                                        #}
{#                                                                                #}
{##################################################################################}
{% block cssmenu %}

  {{ knp_menu_render ('loginMenu') }}

{% endblock %} {# of cssmenu #}

{##################################################################################}
{#                                                                                #}
{# contentbody                                                                    #}
{#                                                                                #}
{##################################################################################}
{% block contentbody %}

<h1>Register</h1>

{% endblock %} {# of contentbody #}
